# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
# misc
# production
# testing
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.pnp.js
/.pnp
/build
/coverage
/node_modules
npm-debug.log*
storybook-static/
yarn-debug.log*
yarn-error.log*
